infra/n8n/workflows/01-telegram-bot.json
{
  "name": "PACAME — Telegram Bot (Pablo)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "PACAME Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/status",
              "operator": { "type": "string", "operation": "startsWith" }
            }
          ]
        }
      },
      "id": "is-status-cmd",
      "name": "Es /status?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/calculate_mrr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "get-mrr",
      "name": "Get MRR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, -100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/clients?status=eq.active&select=id",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Prefer", "value": "count=exact" }
          ]
        },
        "options": {}
      },
      "id": "get-clients",
      "name": "Get Active Clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/count_hot_leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "get-hot-leads",
      "name": "Get Hot Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 100]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {},
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [660, 0]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📊 *PACAME Status*\n\n👥 Clientes activos: {{ $json.active_clients || 0 }}\n🔥 Leads calientes: {{ $json.hot_leads || 0 }}\n💰 MRR: {{ $json.mrr || 0 }} €\n⏰ {{ new Date().toLocaleString('es-ES', {timeZone: 'Europe/Madrid'}) }}\n\n✅ Sistemas operativos",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-status",
      "name": "Enviar Status",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, -100],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "PACAME Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/approve",
              "operator": { "type": "string", "operation": "startsWith" }
            }
          ]
        }
      },
      "id": "is-approve-cmd",
      "name": "Es /approve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/content?status=eq.pending_review&order=created_at.asc&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"approved\" }",
        "options": {}
      },
      "id": "approve-content",
      "name": "Aprobar Contenido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "✅ Contenido aprobado correctamente.",
        "additionalFields": {}
      },
      "id": "confirm-approve",
      "name": "Confirmar Aprobacion",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, 300],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "PACAME Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/takeover",
              "operator": { "type": "string", "operation": "startsWith" }
            }
          ]
        }
      },
      "id": "is-takeover-cmd",
      "name": "Es /takeover?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 500]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "🔒 Modo humano activado. PACAME deja de responder a ese numero.\nPara devolver el control: /release {numero}",
        "additionalFields": {}
      },
      "id": "confirm-takeover",
      "name": "Confirmar Takeover",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 500],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "PACAME Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Es /status?", "type": "main", "index": 0 }]]
    },
    "Es /status?": {
      "main": [
        [
          { "node": "Get MRR", "type": "main", "index": 0 },
          { "node": "Get Active Clients", "type": "main", "index": 0 },
          { "node": "Get Hot Leads", "type": "main", "index": 0 }
        ],
        [{ "node": "Es /approve?", "type": "main", "index": 0 }]
      ]
    },
    "Get MRR": {
      "main": [[{ "node": "Merge Data", "type": "main", "index": 0 }]]
    },
    "Get Active Clients": {
      "main": [[{ "node": "Merge Data", "type": "main", "index": 1 }]]
    },
    "Get Hot Leads": {
      "main": [[{ "node": "Merge Data", "type": "main", "index": 0 }]]
    },
    "Merge Data": {
      "main": [[{ "node": "Enviar Status", "type": "main", "index": 0 }]]
    },
    "Es /approve?": {
      "main": [
        [{ "node": "Aprobar Contenido", "type": "main", "index": 0 }],
        [{ "node": "Es /takeover?", "type": "main", "index": 0 }]
      ]
    },
    "Aprobar Contenido": {
      "main": [[{ "node": "Confirmar Aprobacion", "type": "main", "index": 0 }]]
    },
    "Es /takeover?": {
      "main": [
        [{ "node": "Confirmar Takeover", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid"
  },
  "tags": [{ "name": "semana-1" }, { "name": "telegram" }]
}
