infra/n8n/workflows/01-telegram-bot.json
{
  "name": "PACAME — Telegram Helper (llamado desde Vercel)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-action",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "approve_content",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "is-approve",
      "name": "Es approve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/content?status=eq.pending_review&order=created_at.asc&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"approved\" }",
        "options": {}
      },
      "id": "approve-content",
      "name": "Aprobar Contenido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, -100]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "✅ Contenido aprobado correctamente.",
        "additionalFields": {}
      },
      "id": "confirm-approve",
      "name": "Confirmar Aprobacion",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, -100],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "PACAME Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"action\": \"{{ $json.body.action }}\" }",
        "options": { "responseCode": 200 }
      },
      "id": "respond-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, -100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Unknown action\" }",
        "options": { "responseCode": 400 }
      },
      "id": "respond-unknown",
      "name": "Responder Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 100]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Es approve?", "type": "main", "index": 0 }]]
    },
    "Es approve?": {
      "main": [
        [{ "node": "Aprobar Contenido", "type": "main", "index": 0 }],
        [{ "node": "Responder Error", "type": "main", "index": 0 }]
      ]
    },
    "Aprobar Contenido": {
      "main": [[{ "node": "Confirmar Aprobacion", "type": "main", "index": 0 }]]
    },
    "Confirmar Aprobacion": {
      "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid"
  },
  "tags": [{ "name": "semana-1" }, { "name": "telegram" }]
}
