infra/n8n/workflows/03-web-form-lead.json
{
  "name": "PACAME — Formulario Web > Lead > Cualificacion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "web-form-webhook",
      "name": "Webhook Formulario",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.body.name }}\",\n  \"email\": \"{{ $json.body.email }}\",\n  \"phone\": \"{{ $json.body.phone || '' }}\",\n  \"business_name\": \"{{ $json.body.company || '' }}\",\n  \"problem\": \"{{ $json.body.message }}\",\n  \"budget\": \"{{ $json.body.budget || '' }}\",\n  \"source\": \"web_form\"\n}",
        "options": {}
      },
      "id": "create-lead",
      "name": "Crear Lead en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.CLAUDE_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 1024,\n  \"system\": \"Eres sage.qualify, el subagente de cualificacion de PACAME. Cualifica leads del 1 al 5.\\n\\nCRITERIOS:\\n1 = Spam/irrelevante\\n2 = Curioso sin presupuesto\\n3 = Potencial pero no urgente\\n4 = Buen lead, probable cliente\\n5 = Lead caliente, necesidad real + presupuesto\\n\\nResponde SOLO en JSON valido con esta estructura:\\n{\\n  \\\"score\\\": 4,\\n  \\\"diagnosis\\\": \\\"texto corto\\\",\\n  \\\"recommended_services\\\": [\\\"web\\\", \\\"seo\\\"],\\n  \\\"estimated_value_monthly\\\": 500,\\n  \\\"estimated_value_onetime\\\": 1200,\\n  \\\"urgency\\\": \\\"alta\\\",\\n  \\\"quality\\\": \\\"alta\\\",\\n  \\\"first_contact_angle\\\": \\\"texto\\\",\\n  \\\"objections_likely\\\": [\\\"precio\\\"]\\n}\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"Lead: {{ $json[0].name }}\\nNegocio: {{ $json[0].business_name || 'No indicado' }}\\nProblema: {{ $json[0].problem }}\\nPresupuesto: {{ $json[0].budget || 'No indicado' }}\\nFuente: formulario web\"}]\n}",
        "options": {}
      },
      "id": "sage-qualify",
      "name": "SAGE Cualificar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst analysisText = response.content?.[0]?.text || '{}';\n\nlet analysis;\ntry {\n  analysis = JSON.parse(analysisText);\n} catch(e) {\n  // Intentar extraer JSON del texto\n  const match = analysisText.match(/\\{[\\s\\S]*\\}/);\n  analysis = match ? JSON.parse(match[0]) : { score: 2, diagnosis: 'Error parsing' };\n}\n\nreturn [{ json: { sage_analysis: analysis, score: analysis.score || 2 } }];"
      },
      "id": "parse-analysis",
      "name": "Parsear Analisis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads?id=eq.{{ $('Crear Lead en Supabase').item.json[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"score\": {{ $json.score }},\n  \"sage_analysis\": {{ JSON.stringify($json.sage_analysis) }},\n  \"status\": \"contacted\"\n}",
        "options": {}
      },
      "id": "update-lead",
      "name": "Actualizar Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('Parsear Analisis').item.json.score }}",
              "rightValue": 4,
              "operator": { "type": "number", "operation": "gte" }
            }
          ]
        }
      },
      "id": "is-hot-lead",
      "name": "Lead caliente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🔥 *LEAD CALIENTE* (Score: {{ $('Parsear Analisis').item.json.score }}/5)\n\n👤 {{ $('Crear Lead en Supabase').item.json[0].name }}\n🏢 {{ $('Crear Lead en Supabase').item.json[0].business_name || 'Sin empresa' }}\n💬 {{ $('Crear Lead en Supabase').item.json[0].problem }}\n💰 Presupuesto: {{ $('Crear Lead en Supabase').item.json[0].budget || 'No indicado' }}\n\n📊 Diagnostico: {{ $('Parsear Analisis').item.json.sage_analysis.diagnosis }}\n🎯 Servicios: {{ $('Parsear Analisis').item.json.sage_analysis.recommended_services?.join(', ') }}\n💵 Valor estimado: {{ $('Parsear Analisis').item.json.sage_analysis.estimated_value_onetime }}€ + {{ $('Parsear Analisis').item.json.sage_analysis.estimated_value_monthly }}€/mes\n\n🗣️ Angulo: {{ $('Parsear Analisis').item.json.sage_analysis.first_contact_angle }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "notify-pablo-hot",
      "name": "Notificar Pablo (Hot)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1320, -100],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "PACAME Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📋 Nuevo lead (Score: {{ $('Parsear Analisis').item.json.score }}/5)\n\n👤 {{ $('Crear Lead en Supabase').item.json[0].name }}\n💬 {{ $('Crear Lead en Supabase').item.json[0].problem }}\n\nEntra en nurturing automatico.",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "notify-pablo-normal",
      "name": "Notificar Pablo (Normal)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1320, 100],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "PACAME Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Mensaje recibido\" }",
        "options": { "responseCode": 200 }
      },
      "id": "respond-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [220, 200]
    }
  ],
  "connections": {
    "Webhook Formulario": {
      "main": [
        [
          { "node": "Crear Lead en Supabase", "type": "main", "index": 0 },
          { "node": "Responder OK", "type": "main", "index": 0 }
        ]
      ]
    },
    "Crear Lead en Supabase": {
      "main": [[{ "node": "SAGE Cualificar", "type": "main", "index": 0 }]]
    },
    "SAGE Cualificar": {
      "main": [[{ "node": "Parsear Analisis", "type": "main", "index": 0 }]]
    },
    "Parsear Analisis": {
      "main": [[{ "node": "Actualizar Lead", "type": "main", "index": 0 }]]
    },
    "Actualizar Lead": {
      "main": [[{ "node": "Lead caliente?", "type": "main", "index": 0 }]]
    },
    "Lead caliente?": {
      "main": [
        [{ "node": "Notificar Pablo (Hot)", "type": "main", "index": 0 }],
        [{ "node": "Notificar Pablo (Normal)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid"
  },
  "tags": [{ "name": "semana-1" }, { "name": "leads" }, { "name": "web" }]
}
